body {
  background-color: #e6e6e6;
}

h1 {
  font-size: 4em;
  text-align: center;
}

ul {
  color: #4d0000;
  font-style: oblique;
  font-weight: bolder;
}
.jumbotron {
max-width: 100%;
background-color: #f9d7b4;
}

.col-md-2 {
  margin: 10px;
  border: 15px;
  padding-left: 30px;
  background-color: #79d279;
  padding-bottom: 200px;
}

.yellow {
  color: #f9d7b4;
}

.white {
  color:  #f2f2f2;
}

#blue {
  color: blue;
}
